<div class="card field container is-blog" data-blog="{{id}}">
  <header class="card-header has-background-grey-light">
    <p class="card-header-title column is-size-2 ">
        {{title}}
    </p>
    <p class="is-right">
        Created by {{user.username}} on {{format_date date_created}}
    </p>
  </header>
  <div class="card-content">
    <div class="content is-size-4">
      {{content}}
    </div>
  </div>
</div>
{{#each comments as |comment|}}
{{>comment-details}}
{{/each}}
{{>comment-form}}